/* .card {
  margin: 1rem;
  box-shadow: rgb(128 128 128 / 19%) 0.25rem 0.35rem;
}

.card-text {
  margin: 0rem 1rem 0rem 1rem;
}

.card-body {
  display: flex;
}

.card-title {
  padding: 0rem 0rem 1rem 0rem;
}  */