/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,900&family=Stint+Ultra+Expanded&display=swap');
/*Typography
--------------------------------------------------------------*/

/* Palette --------------------
Thistle: C3B2CB,
Yellow Green Crayola: CDDE9D,
Pale Spring Bud: E6E7BB,
Chinese Red: a3311d
Dirty Light Yellow: fafce7
Black Chocolate: 161608
________________________________*/

body,
/* button, */
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5; 
  /* background-color: #E6E7BB; */
  background-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-family: 'Stint Ultra Expanded', cursive;    
    letter-spacing: 2px;
    text-align: center;
}

h6.search-descrip {
  margin: 0 30rem 4rem 13.5rem;
  text-align: left;
  padding: .5rem;
}

p {
  margin-bottom: 1em;
  /* color: #d6fcff; */
  color: darkslateblue;
}

article {
  /* background-color: #E6E7BB; */
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

strong {
  font-weight: bold;
}

img {
  max-width: 20%;
  height: auto;
  display: block;
  margin-left: 13.5rem;
  margin-right: auto;
}

label {
  padding-left: 2em;
  padding-right: 2em;
}
/* .findWordForm {
  {
    display: flex;
    flex-direction: column;
  }
} */
header {
  text-align: center;
  padding: 2em 2em 0 2em;
}

.findWordForm {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  margin-left: auto;
  margin-right: auto;
}


#searchLetterId {
  min-width: 10%;
  max-width: 13%;
  text-align: center;
  background-color: #7C5E82 ;
  box-shadow: rgb(128 128 128 / 12%) 0.18rem 0.18rem;
  color: white;
  margin: 0 30rem 0 13.5rem;
}

#searchLetterId:hover {
  background-color: #A8ACD1;
  color: #FFF;
  box-shadow: rgb(128 128 128 / 40%) 0.18rem 0.18rem;
}

/* .btn {
  text-align: center;
} */

section {
  display: flex;
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.word {
  flex-basis: 30%;
  margin: 1rem;
  box-shadow: rgb(128 128 128 / 12%) 0.18rem 0.18rem;
  margin: 1em;
  padding: 1em;
  background-color: #F9D7A4;
  text-align: center;
  max-width: 28%;
}

.word-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .word-btn {
  text-align: center;
  color: #C3B2CB;
}   */

.word-detail {
  display: flex;
  margin: 4em auto;
  padding: 0 2em 2em;

}

.word-btn {
  background-color: #CDDE9D;
  box-shadow: rgb(128 128 128 / 12%) 0.18rem 0.18rem;
  border: none;
  /* margin: 0 66rem 0 13.5rem; */
  padding-left: 1rem;
  padding-right: 1rem;
}

.word-btn:hover {
  background-color: #7C5E82;
  color: #FFF;
  box-shadow: rgb(128 128 128 / 40%) 0.18rem 0.18rem;
}

.word-btn:active {
  background-color: #C3B2CB;
  box-shadow: 0 5px #FFF;
  transform: translateY(3px);
}

button.btn.btn-secondary {
  background-color: #7C5E82;
  box-shadow: rgb(128 128 128 / 12%) 0.18rem 0.18rem;
  border: none;
  margin: 0 63rem 2rem 13.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 18rem;
}

button.btn.btn-secondary:hover {
    background-color: #A8ACD1;
    color: #FFF;
    box-shadow: rgb(128 128 128 / 40%) 0.18rem 0.18rem;
}

button.save-btn {
  box-shadow: rgb(128 128 128 / 12%) 0.18rem 0.18rem;
  border: none;
  font-size: x-small;
  background-color: #C2BCD3;
  flex-basis: 28%;
}

button.save-btn:hover {
  background-color: #A8ACD1;
  color: #FFF;
  box-shadow: rgb(128 128 128 / 40%) 0.18rem 0.18rem;
}

.dropdown-label {
  margin: 5rem 0 50rem 0;
}


/*
  margin: 1rem;
  box-shadow: rgb(128 128 128 / 19%) 0.25rem 0.35rem;
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  background-color: #F9D7A4;




  
  border: .25px solid goldenrod;
  */



