/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,900&family=Stint+Ultra+Expanded&display=swap');
/*Typography
--------------------------------------------------------------*/

/* Palette --------------------
Thistle: C3B2CB,
Yellow Green Crayola: CDDE9D,
Pale Spring Bud: E6E7BB,
Chinese Red: a3311d
Dirty Light Yellow: fafce7
Black Chocolate: 161608
________________________________*/

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-family: 'Stint Ultra Expanded', cursive;    
    letter-spacing: 2px;
    text-align: center;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

article {
  background-color: #EAEBC5;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}
img {
  max-width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* .findWordForm {
  {
    display: flex;
    flex-direction: column;
  }
} */
.subHeader {
  text-align: center
}
.findWordForm {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-group{
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
  }

.form-control {
  max-width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  text-align: center;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.word {
    flex-basis: 35%;
    margin: 1em;
    padding: 1em;
    border: .25px solid goldenrod;
}

.word-detail {
  display: flex;
  margin: 4em auto;
  padding: 0 2em 2em;
  border: .25px solid goldenrod;
  text-align: center;
  max-width: 28%;
}

.word-btn {
  text-align: center;
  color: #C3B2CB;
}

/* dropdown {

}
*/