/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,900&family=Stint+Ultra+Expanded&display=swap');
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}


body {
  background-color: #E6E7BB;
}

h1 {
    font-family: 'Raleway', sans-serif;  
    letter-spacing: 2px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Stint Ultra Expanded', cursive;    
  letter-spacing: 2px;
  margin: 0 15rem 0 10rem;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

img {
  margin: 0 35rem 0 12rem;
}

/* logo {
    background-position-x: right;
    background-image: url("./auth/Qlogo.png");
    background-size: 12%;
    z-index: -1;
    min-height: 10rem;
    min-width: 12rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
} */