.navbar {
    padding-left: 5em;
    background-color: #7C5E82;
    font-family: 'Raleway', sans-serif;
}


/* .navbar-brand {
    display: flex;
    align-items: center;
  } */

a.title.navbar-brand {
    color: white;
}

.nav-item {
    color: white;
}

.navbar-text {
    margin-left: 10rem;
    color: #DDDE9D ;
}

.navbar-text.motto {
    color: #DDDE9D;
}

/*  #7C5E82 dark purple
    ##B9A5C3ff orig navbar purple */