
.navbar {
    margin-top: 3rem;
    padding-left: 5em;
    background-color: #7C5E82;
    font-family: 'Raleway', sans-serif;
}


a.title.navbar-brand {
    color: white;
}

.nav-item {
    color: white;
}

.navbar-text {
    margin-left: 7rem;
    color: #DDDE9D ;
}

.navbar-text.motto {
    color: #DDDE9D;
}

#logout-space {
    margin-left: 2rem;
}

/* .img {
    height: auto; 
    width: auto; 
    max-width: 58px; 
    max-height: 53px;

} */

/*  #7C5E82 dark purple
    ##B9A5C3ff orig navbar purple */