html, body {
  height: 100%;
  background-color: #FFF;
}

.h1, h1 {
    font-size: 2.5rem;
}

.login-register {
    flex-basis: 2%;
    margin-right: 35%
}

main {
  background-color: #FFF;
  display: flex;

}

.login-email {
    width: 32%;
    margin-left: 20rem;
}

.login-container {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-header {
    flex-basis: 15%;
    margin-left: 10rem;
    margin-top: 3rem;
}

.login-form {
    flex-basis: 15%;
    margin-right: 19%
}

.login-submit {
    margin-left: 27rem;
    margin-top: .5rem;
    margin-left: 28rem;
    background-color: #B9A5C3;
    border: none;
    box-shadow: rgb(128 128 128 / 10%) 0.1rem 0.1rem;
}

.login-submit:hover {
    background-color: #A8ACD1;
    color: #FFF;
  }

.form-control {
    display: flex;
    align-self: center;
    background-clip: padding-box;
    border: .5px solid #F4F8EA;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


 .button--close {
    position: relative;
    bottom: -2rem;
} 

.dialog {
    min-width: 15rem;
    min-height: 5rem;
} 
 